@import '@styles/Vars.scss';
.menu {
  width: 100%;
	margin-bottom: 18px;
	display: flex;
	justify-content: space-between;
	border-bottom: 2px solid #bdbdbd;
}

.app__menu--button {
	width: 25%;
	margin: 0 10px 0 0;
	padding-bottom: 18px;
	cursor: pointer;
	border: none;
	background-color: transparent;
	@include fontstyle($font1,1.4rem,17.07px);
	font-weight: 600;
	outline: none;
}
