@import '@styles/Vars.scss';
.tasks {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.task {
	display: flex;
	margin-bottom: 20px;
}

.task input {
	transform: scale(1.5);
}

.task span {
	display: inline-block;
	margin-left: 10px;
	@include fontstyle($font1,1.8rem,22px)
}

.completed {
	text-decoration: line-through;
}

.delete_task {
	display: block;
	margin-left: auto;
	background-color: #EB5757;
	color: white;
	@include fontstyle($font1,1.4rem,20px);
	border: none;
	padding: 5px;
	cursor: pointer;
}

.delete__all-tasks {
	display: block;
	width: 20%;
	margin-left: auto;
	background-color: #EB5757;
	color: white;
	@include fontstyle($font1,1.4rem,20px);
	border: none;
	padding: 5px;
	cursor: pointer;
}
